body{
	background-image: url("../images/2.jpeg");
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
}

.footer{
	color:white;
	background-color:gray;
   	display:inline;
   
}

h1{
	color:white;
	margin-bottom:0;
	background-color:gray;
	text-transform:uppercase;
	letter-spacing: 3px;
	
	font-family: 'Orbitron', sans-serif;
}

h2{
	color:white;
	text-transform:uppercase;
	letter-spacing:6px;
	background-color:gray;
	display:inline;

}

.about{
	
	color:white;
	background-color:gray;
	width:100%;
	font-size:14px;
	line-height: 1.5;



}


#me{
	height : 200px; /*height sets the height of an element*/
	width  : 200px;	/*width sets the width of an element*/
	border-radius:50%;
	border-style:solid;
	border-width:5px;
	border-color:white;
	margin-top:50px;
}

.container{
	width:500px;
	margin:0 auto;
	text-align: center;
}

